faker # Библиотека для генерации тестовых данных
flake8 # Библиотека для проверки code-style
flake8-import-order # Плагин для библиотеки выше
pytest # Тестовый фреймворк
requests # Библиотека для отправки запросов
tox # А эта библиотека поможет нам быстро проводить валидацию наших тестов
